@import '../../styles.scss';

@media only screen and (min-width: 100px) and (max-width: 700px) {
    .header {
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (min-width: 701px) {
    .header {
        grid-template-columns: 1fr 1fr;
    }
}
.header { 
    display: grid;
}

.profileImageDescription {
    display: flex;
}
.profileContactDescription {
    display: grid;
    grid-auto-rows: 1fr;
    padding-left: 4%;
    padding-right: 4%;
}

.img {
    width: 150px;
    max-height: 100%;
    object-fit: cover;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 0%;
    border: 5px double #9fa8a3;
    position: relative;
    top: 20px;
    border-radius: 4px;
}

ul {
    list-style: none;
    p {
        display: inline-block;
        width: 200px;
    }
    span {
        width: 20px;
        display: inline-block; 
    }
}