@import '../../styles.scss';

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileImage_name {
    display: flex;
}

.img {
    width: 150px;
    max-height: 100%;
    object-fit: cover;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-radius: 0%;
    border: 5px double #9fa8a3;
    position: relative;
    top: 30px;
    border-radius: 4px;
}

ul {
    list-style: none;
    p {
        display: inline-block;
        width: 200px;
    }
    span {
        width: 20px;
        display: inline-block; 
    }
}