<div class="header">
  <div class="profileImageDescription">
    <div>
      <!-- <img class="img" src="./../../assets/images/MyProfile.jpg"> -->
      <img class="img" src="https://res.cloudinary.com/svinayaka/image/upload/v1569785986/myImage_yartm7.jpg" alt="No image">
    </div>
    <div>
      <h2>{{contactInfo?.name}}</h2>
      <h5>{{contactInfo?.title}}</h5>
      <p>{{contactInfo?.description}}</p>
    </div>
  </div>
  <div class="profileContactDescription">
    <ul>
      <li>
        <a href="mailto:{{contactInfo?.email?.info}}" target="_blank">
          <i [ngClass]="contactInfo?.email?.icon"></i>
          <span>{{contactInfo?.email?.text}}</span>
        </a>
        <!-- <p>
          <span [ngClass]="contactInfo?.email?.icon"></span>
          <span>{{contactInfo?.email?.info}}</span>
        </p> -->
      </li>
      <li>
        <p>
          <span [ngClass]="contactInfo?.phone?.icon"></span>
          <span>{{contactInfo?.phone.info}}</span>
        </p>
      </li>
      <li>
        <div *ngFor="let eachLink of contactInfo?.links">
          <a href="{{eachLink?.info}}" target="_blank">
            <i [ngClass]="eachLink?.icon"></i>
            <span>{{eachLink?.text}}</span>
          </a>
        </div>
      </li>
      <li><p>{{contactInfo?.address + ", " + contactInfo?.location + "-" + contactInfo?.pincode}}</p><span></span></li>
    </ul>
  </div>
</div>