<div class="header">
  <div>
    <h2>{{contactInfo?.name}}</h2>
    <h5>{{contactInfo?.title}}</h5>
    <p>{{contactInfo?.description}}</p>
  </div>
  <div >
    <img class="img" src="./../../assets/images/MyProfile.jpg">
  </div>
  <div>
    <ul>
      <li><p>{{contactInfo?.email}}</p><span></span></li>
      <li><p>{{contactInfo?.phone}}</p><span></span></li>
      <li><p>{{contactInfo?.address + ", " + contactInfo?.location + "-" + contactInfo?.pincode}}</p><span></span></li>
      <li><p></p><span></span></li>
    </ul>
  </div>
</div>