@import '../../../styles.scss';

.rightArrow--modifer  {
    animation: moveRight;
    animation-duration: 2s;
    position: relative;
    padding: 1%;
    
}

@keyframes moveRight {
    0% {
        right: 50px;
    } 
    100% {
        right: 0px;
    }
}

.rightArrowContent--modifier {
    animation: moveLeft;
    animation-duration: 2s;
    position: relative;
    padding: 1%;
    
}
@keyframes moveLeft {
    0% {
        left: 50px;
    } 
    100% {
        left: 0px;
    }
}