@import '@angular/material/prebuilt-themes/purple-green.css';

$imgUrl: "https://images.alphacoders.com/622/62233.png";
$imgProfile: "https://res.cloudinary.com/svinayaka/image/upload/c_fit,h_600,w_600/a_0/v1569785986/myImage_yartm7.webp";

.homeBG {
    background-image: url($imgUrl);
    min-height: 72vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    text-align: -webkit-right;
    position: relative;
}

.home--profilePic {
    position: absolute;
    background-image: url($imgProfile);
    min-height: 14rem;
    width: 14rem;
    top: 26%;
    right: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    backdrop-filter: saturated(0.5);
}
.home--profileQuotes {
    text-shadow: 2px 2px 4px #e4f3d1;
    text-align: center;
    color: #e4f3d1;
    font-size: 3rem;
    height: 14%;
    width: 75%;
    position: absolute;
    top: 18%;
}