<div class="navigationMenus">
  <div class="navigationMenu-title">
    <h1>{{contactInfo?.name}}</h1>
  </div>
  <div>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle matTooltip="Home Page" value="Home" aria-label="Text align left">
          Home
      </mat-button-toggle>
      <mat-button-toggle value="About" aria-label="Text align left">
        About
      </mat-button-toggle>
      <mat-button-toggle value="Work Experience" aria-label="Text align left">
        Work Experience
      </mat-button-toggle>
      <mat-button-toggle value="Summary" aria-label="Text align left">
        Summary
      </mat-button-toggle>
      <mat-button-toggle value="Skills" aria-label="Text align left">
        Skills
      </mat-button-toggle>
      <mat-button-toggle value="Contact" aria-label="Text align left">
        Contact
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>