<div class="workExp">
  <h6 *ngIf="title" class="title">{{title}}</h6>
  <p *ngIf="subTitle">{{subTitle}}</p>
  <div>
    <h6>Project: </h6>
    <ng-container *ngFor="let eachProject of projects;">
      <div>
        <strong>{{eachProject.title}} : </strong><span>{{eachProject.project}}</span>
      </div>
      <div>
        <strong>Description: </strong><span>{{eachProject.description}}</span>
      </div>
    </ng-container>
  </div>
  <div *ngIf="workRange && location">
    <span>{{workRange +" - "+ location}}</span>
  </div>
  <app-list [achieveLists]="achieveList"></app-list>
</div>
