@import '../../styles.scss';

.profileviewheader {
    // position: absolute;
    // top: 0px;
    // bottom: 90%;
    display: flex;
    padding: .2%;
    border-bottom: 2px solid $bordercolor;
}

.profileviewheader__leftheader {
    flex: 0.4;
}

.profileviewheader__rightheader {
    flex: 0.6;
    ul {
        list-style: none;
        li {
            display: flex;
            justify-content: flex-end;
            .profileviewheader__rightheader__para {
                flex: 0.5;
            }
            .para__first {
                text-align: right;
            }
            .para__second {
                text-align: left;
            }
            span {
                margin-left: 0.2%;
                margin-right: 0.2%;
            }
        }
    }
}

