@import '../../styles.scss';

.profileviewheader {
    // position: absolute;
    // top: 0px;
    // bottom: 90%;
    display: flex;
}

.profileviewheader__leftheader {
    flex: 0.4;
}

.profileviewheader__rightheader {
    flex: 0.6;
    ul {
        list-style: none;
        li {
            span {
                display: inline-block;
                width: 50%;
            }
        }
    }
}

