/* You can add global styles to this file, and also import other style files */
@import './variable-style.scss';

html {
    font-size: 16px;
    color: $textcolor;
}

body {
    background: $background;
    position: fixed;
    padding: 0.5%;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

h1 {}
h2 {}
h3 {
    font-size: 1rem;
    
}
h4 {}
h5 {}
h6 {}

p {
    font-size: 0.875rem;
    margin: 0px;
}

span {
    font-size: 0.875rem;
}

button {
    border-radius: 0.2rem;
    border: 1px solid $bordercolor;
    background: lightblue;
    width: 100%;
    &:focus {
        outline:0;
    }
}