/* You can add global styles to this file, and also import other style files */
@import './variable-style.scss';

html {
    font-size: 16px;
    color: $textcolor;
}

* {
    box-sizing: border-box;
}

body {
    font-family: serif;
    border: 20px solid $bordercolor;
    box-sizing: border-box;
    background: $background;
    // position: fixed;
    padding: 0.5%;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

hr {
    margin: 0px;
}

h1 { margin: 0px}
h2 { margin: 0px }
h3 {
    margin: 0px;
    font-size: 1rem;
}
h4 { margin: 0px }
h5 { margin: 0px }
h5::after {
    margin: 0px
}
h6 { margin: 0px }

p {
    font-size: 0.875rem;
    margin: 0px;
}

span {
    font-size: 0.875rem;
}

button {
    border-radius: 0.2rem;
    border: 1px solid $bordercolor;
    background: lightblue;
    width: 100%;
    &:focus {
        outline:0;
    }
}