
$background: #dfeae8;
$foreground: #c5d5cb;
$textcolor: #0f2b1b;
$bordercolor: #9fa8a3;
$panelbackground: #98bdb1;
$bulletPointbackground: #7d4646; 
$anchorColor: #9fa8a3;
$radioSelected: #0de80a;
$radioborder: #648064;